.manage-emp-section{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.update-btn{
    border: none;
    color: white;
    background-color: rgb(3, 170, 3);
    padding: 3px 7px;
    border-radius: 10px;
    transition: 0.4s;
}
.update-btn:hover{
    background-color: rgb(5, 148, 5);
}
.delete-btn{
    background-color: #f83a3a;
    padding: 3px 7px;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 0.4s;
}
.delete-btn:hover{
    background-color: #d83333;
}
.table-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
@media only screen and (max-width:800px) {
    .manage-emp-section{
        width: 450px;
    }
}
@media only screen and (max-width:500px) {
    .manage-emp-section{
        width: 350px;
    }
}
@media only screen and (max-width:400px) {
    .manage-emp-section{
        width: 300px;
    }
}